#header{
    justify-items: center;
    margin-top: 120px;
    p{
      padding-top: 56px;
    }
  img{
    width: 96px;
    height: 96px;
  }
  
  .icon{
    
    position: relative;
    bottom: 35px;
    left:66px ;
    width: 31px;
    height: 25px;
    
  }
  

}

#tags{
  
  align-items: center;
  padding-block: 80px 183px;
  gap: 16px;
  max-width: 734px;
  max-height: 40px;
  margin-inline: auto;
  

  button{
    display: flex;
    align-items: center;
    gap: 8px ;

    padding: 9px 16px;

    border-radius: 999px;
    border: none;
  
    font: var(--text-md);
  
    color: var(--gray-500);
    background: var(--gray-300);}
    
}

#card{
  grid-template-columns: repeat(3, 1fr);
  max-width: 1040px;
  margin-inline: auto;
  padding-bottom:144px ;
  
  img{
    margin: 12px;
    border-radius: 8px;
    width: 306px;
    height: 156px;
  }
  
  figure{
    
    border-radius: 12px;
    width: 330px;
    height: 280px;
    background: var(--gray-300);
    
    &:hover{
      border: 1px solid #878EA1;
    }
    h3{
      padding-block: 10px 8px;
      padding-left: 16PX;
    }
    p{
      padding-inline: 16px;
    }

  }
}

#services{
  background: var(--gray-100);
  padding-bottom: 120px;

  header{
    padding-block: 88px 56px;
  }

  section p{
    color: var(--gray-500);
  }
  
  .cards{
    border: 1px solid var(--gray-200);
    border-radius: 12px;

    img{
      margin: 20px 0 20px 20px;
    }

    h3{
      padding: 0 20px 8px;
    }

    p{
      padding: 0 20px 20px;
    }

  }

}

#contatos{
  padding-bottom: 200px;

  
  button{
    
    align-items: center;
    gap: 12px;
    

    background: var( --gray-300);
    color: var(--gray-500);

    height: 68px;
    width: 400px;
    padding-inline: 12px 20px;

    border-radius: 8px;
    border: none;

    

    &:hover{
      border: 2px solid var(--blue);
      .hover{
        filter: invert(55%) sepia(57%) saturate(1658%) hue-rotate(180deg) brightness(89%) contrast(92%);
      }
      
    }
    .icon-seta{
      margin-left: auto;
    }
    
  }
}